/* ============================================= */
/*              Mixins                           */
/* ============================================= */


@mixin mq($bp){
  @media (min-width: $bp){
    @content;
  }
}

@mixin flex(
  $disp: flex,
  $dir: null,
  $wrap: null,
  $just: null,
  $align: null){
    display: $disp;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $just;
    align-items: $align;
    @content;
}