/* ============================================= */
/*              Variables                        */
/* ============================================= */


// Colors

$header: #7279C0;
$navBar: #4D4A76;
$socialBar:#7370AF;
$white: #fff;



// Breaks:

$break: 768px;