/* ============================================= */
/*              Variables                        */
/* ============================================= */


// Colors

$header: #ca9cf7;
$navBar: darken($header, 25%);
$white: #fff;
