/* ============================================= */
/*              Grid Layout Header/Nav/Main      */
/* ============================================= */


body {
  display: grid;
  height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: 100px 120px auto;
  grid-template-areas: 
    "header"
    "nav"
    "main";
  @include mq($break) {
    grid-template-columns: 65px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header"
      "nav main"
      "nav main";
    }
}

header{
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}


/* ============================================= */
/*              Grid Layout: Main internals      */
/* ============================================= */


main {
  display: grid;
  @include mq($break) {
    grid-template-columns: 1fr 1fr;
  }
}

.dashboard-header,
.alert-bar,
.traffic-linegraph,
.social-stats {
  @include mq ($break){
    grid-column: 1 / -1;
  }
}

.daily-traffic,
.new-members,
.message-user {
  @include mq($break){
    grid-column: 1 / 2;
  }
}


.mobile-half,
.recent-activity,
.settingsHalfscreen {
  @include mq($break){
    grid-column: 2/ span 1 ;
  }
}