/* ============================================= */
/*              Header                           */
/* ============================================= */


header {
  background-color: $header;
  display: flex;
  flex-direction: row; 
  align-items: center;
  color: $white;
  
  .not-bell{
    width: 10%;
    max-width: 60px;
    position: relative;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 15px;
    &:hover{
      .bell{
        animation: rotate 3s both infinite;
      }
    }
  }
  .bell {
    width: 100%;
  }
  .circle-notification {
    position: absolute;
    top: -2px;
    right: 14px;
    width: 8px;
    height: 8px;
    background-color: green;
    border-radius: 50%;
  }

  .bell-notification {
    position: absolute;
    width: 200px;
    bottom: -150px;
    left: -250px;
    @include mq(550px){
      width: 330px;
      bottom: -150px;
      left: -300px;
    }
    width: 330px;
    background-color: lightcyan;
    border: 1px solid black;
    color: grey;
    div{
      @include flex($align:center);
      border-bottom: 1px solid lightgrey;
      transition: 2s;
      &:hover{
        border-bottom: 2px solid black;
        background-color: lightsalmon;
        font-size: 1.2rem;
      }
      span{
        margin-right: 10px;
      }
      p{
        margin-right: auto;
        margin-left: 10px;
        &::before{
          content: "\2728";
        }
      }
    }
  }

  .hidden{
    display:none;
  }

  h1{
    margin: 0;
    padding-left: 15px;
  }
  
  .userphotobox {
    width: 10%;
    max-width: 55px;
    padding-left: 15px;
    border-left: 1px solid grey;
    margin-right: 15px;
  }

  .userImg {
    width: 100%;
    border-radius: 50%;
    margin: 0;
  }
  p {
    padding-right: 15px;

  }
}


@keyframes rotate {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100%{
    transform: rotate(20deg);
  }
}