/* ============================================= */
/*              Header                           */
/* ============================================= */


header {
  background-color: $header;
  display: flex;
  flex-direction: row; 
  align-items: center;
  color: $white;
  
  .not-bell{
    width: 70px;
    position: relative;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 15px;
    &:hover{
      .bell{
        animation: rotate 3s both infinite;
      }
    }
  }
  .bell {
    width: 100%;
  }
  .circle-notification {
    position: absolute;
    top: -2px;
    right: 14px;
    width: 8px;
    height: 8px;
    background-color: green;
    border-radius: 50%;
  }

  .bell-notification {
    position: absolute;
    width: 330px;
    background-color: lightcyan;
    border: 1px solid black;
    color: grey;
    bottom: -120px;
    left:-325px;
    ul{
      list-style: none;
      li{
        margin-bottom: 10px;
        border-bottom: 1px solid grey;
        @include flex();
      }
      span{
        margin-left: auto;
        margin-right: 10px;
        font-weight: bold;
      }
    }
     ul li::before{
      content: "\2022";
      color: green;
      font-weight: bold;
      display: inline-block;
      width: 15px;
    }
    
  }

  .hidden{
    display:none;
  }

  h1{
    margin: 0;
    padding-left: 15px;
  }
  
  .userphotobox {
    width: 70px;
    padding-left: 15px;
    border-left: 1px solid grey;
    margin-right: 15px;
  }

  .userImg {
    width: 100%;
    border-radius: 50%;
    margin: 0;
  }
  p {
    padding-right: 15px;

  }
}


@keyframes rotate {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100%{
    transform: rotate(20deg);
  }
}