/* ============================================= */
/*              Header                           */
/* ============================================= */


header {
  background-color: $header;
  display: flex;
  flex-direction: row; 
  align-items: center;
  color: $white;
  .not-bell{
    width: 35px;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1{
    margin: 0;
    padding-left: 15px;
  }
  
  .userphotobox {
    width: 4%;
  }

  .userImg {
    width: 100%;
    border-radius: 50%;
    margin: 0;

  }
}