/* ============================================= */
/*              Main                             */
/* ============================================= */




/* ============================================= */
/*       Dashboard Header with search bar        */
/* ============================================= */

.dashboard-header{
  @include flex($align:center);
  h2{
    margin-right: auto;
  }
  .dashboard-search {
    border: 1px solid black;
    width: 60%;
    padding: 15px 0;
    background-color: lightgrey;
    border-radius: 2%;
    text-align: left;
    @include mq($break){
      width: 80%;
    }
    @include flex($align:center, $just:flex-end);
    input{
      margin-right: 10px;
      height: 35px;
      width: 43%
    }
  }
}


/* ============================================= */
/*              Traffic Full Width Chart         */
/* ============================================= */
.traffic-title-and-nav{
  @include flex($just:space-between, $align:center);
  ul li {
    display: inline-block;
    margin-right: 15px;
  }
}
.traffic-graph-container-whole {
  width: 80vw;
  margin: 0 auto;
  @include mq ($break){
    width: 90vw;
  }
}



/* ============================================= */
/* Daily-Traffic Half Chart/ Mobile Half Chart   */
/* ============================================= */

.daily-traffic-graph-container-half, 
.mobile-graph-container-half {
  width: 80vw;
  margin: 0 auto;
  @include mq($break){
    width: 45vw;
  }
}






/* ============================================= */
/*              New Memebers Styling             */
/* ============================================= */


  .new-members{
    display: flex;
    flex-direction: column;
    .member-container{
      display: flex;
      height: 100px;
      img{
        height: 35px;
        border-radius: 50%;
        display: inline-block;
      }
      .user-info{
        display: inline-block;
        p{
          margin: 0;
        }
      }
      
    }
  }

/* ============================================= */
/*              Recent Activity Styling          */
/* ============================================= */

.recent-activity{
  display: flex;
  flex-direction: column;
  .member-container{
    display: flex;
    height: 100px;
    img{
      height: 35px;
      border-radius: 50%;
      display: inline-block;
    }
    .user-info {
      display: inline-block;
      p{
        margin: 0;
      }
    }
  }
}


/* ============================================= */
/*              Social Stats Styling          */
/* ============================================= */

.social-stats{
  .flex-wrap{
    display: flex;
    justify-content: space-evenly;
    .box{
      border: 1px solid grey;
      background-color: lightcyan;
      padding: 15px 0;
      margin: 0 15px;
      flex: 1;
      flex-basis: 150px;
      max-width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        margin: 0;
        padding-left: 15px;
        &.stat{
          font-size: 1.8rem;
        }
        &.title{
          color: $socialBar;
          font-size: .9rem;
        }
      }
    }
  }
  .twitter-svg,
  .facebook-svg,
  .google-svg {
    width: 40px;
    height: 40px;
    background-color: $socialBar;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
}
