/* ============================================= */
/*              Navigation                       */
/* ============================================= */

nav {
  background-color: $navBar;
  @include flex($just:space-evenly, $align:center);
  .svg {
    width: 45px;
  }
  @include mq($break){
    @include flex($dir:column, $just:flex-start);
    & .svg {
      margin-bottom: 30px;
    }
    & .dashboard {
      margin-top: 30px;
    }

  }
}